.markdown-body code {
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    background-color: $code-background-color;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    font-size: 85%;
}
