a {
    color: $link-color;

    &.external-link {
        background-position: center right;
        background-position-y: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(transparent, transparent), url(/images/external-link.svg);
        background-size: 13px;
        padding-right: 16px;
        background-position-y: 4px;
    }
}
